.fixedMenu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    left: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    outline: none;
}