/* hero section */
.container {
    width: 100%;
    padding: 4rem 4rem 0 0;
}

.hero {
    padding: 2rem 1.5rem 0 2rem;
    display: flex;
    align-items: center;
}
.hero h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1976d2;
    margin: 0;
    margin-left: 5rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.hero h3 i {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 2rem;
}
.dNoneUser{
    display: none;
}
.lessons {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lessonsShow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3d3d3d;
}
.lessonsShow i {
    margin-top: 6px;
    margin-left: 5px;
}
.searchField {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
    padding-right: 10px;
    height: 40px;
    width: 250px;
    font-size: 1rem;
}
.searchField input {
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
}
.searchField input::placeholder {
    font-weight: bold;
    color: #b6b4b4;
}

.searchField i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background-color: #1976d2;
    width: 15%;
    height: 100%;
    color: #fff;
}

/*  drop left for art section  */
.lessons ul a:hover {
    background-color: #1976d2;
    color: #fff;
}
.lessons ul {
    position: relative;
}
.lessonsIconRes{
    display: none;
}
.searchField.searchFieldRes{
    display: none;
}
.artDrop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.artDrop li {
    margin: 0.5rem 0;
    width: 100%;
    padding: 5px;
    padding-right: 10px;
}
.artDrop ul a {
    text-decoration: none;
    color: #1976d2;
}
.artDrop {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid gainsboro;
    border-radius: 3px;
    position: absolute;
    left: -100%;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.lessons ul li:hover .artDrop {
    display: flex;
}
.artDrop li:hover {
    background-color: rgba(240, 240, 240, 0.644);
}
.artDrop li a:hover {
    background-color: transparent;
    color: #1976d2;
}

.user > div > button {
    white-space: nowrap;
}
.user > div > button span{
    margin: 0 .1rem;
}

/*  *************************************************** */
/*  *************************************************** */
/*  *************************************************** */
/* my profile section */
.myProfile {
    margin: 5rem 3rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* right profile section */
.rightSection {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightSection i {
    font-size: 10rem;
}
.rightSection .info {
    text-align: center;
}
.questionBox {
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1.2rem 0.9rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.rightSection .questionBox h5 {
    font-weight: bold;
    margin-bottom: 2rem;
}
.rightSection .questionBox p {
    line-height: 1.6rem;
}
.rightSection .questionBox .button {
    color: #fff;
    width: 78%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #17d292;
    transition: all 150ms linear;
}
.rightSection .questionBox .button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* modall bootstrap */
.questionModal{
    background-color: #1976d2;
    position: relative;
}
.questionModalFooter{
    border: none;
    background-color: #1976d2;
    padding: 0 4rem;
    padding-bottom:1rem;
}
.questionModalFooter button{
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #17d292;
    transition: all 150ms linear;
}
.questionModalFooter button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.questionModal form{
    text-align: right;
    padding: 0 2rem;
}
.questionModal form > div{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 1rem 0;
}
.questionModal form > div:first-child{
    margin-top: 0;
}
.questionModal form > div :last-child{
    margin-top: .5rem;
}
.questionModal form > div input {
    padding: .5rem;
    height: 40px;
    outline: none;
    border: none;
} 
.questionModal textarea{
    resize: none;
    height: 150px;
    padding: .5rem;
    outline: none;
    border: none;
}





/* left profile section */
.leftSection {
    margin-top: 3rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
/* header */
.leftHeader{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.profileTitle{
    /* color: #1976d2; */
    padding: 0 .5rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid #1976d2;
    margin-left: 1rem;
}
.priceSection{
    text-align: left;
    border-bottom: 4px solid #ccc;
    flex-grow:1 ;
    padding-bottom: .7rem;
}
.priceSection > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-left: .5rem;
    font-size: .8rem;
}
.priceSection > div >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.priceSection > div > div p{
    margin: 0;
}
.priceSection span{
    color: #1976d2;
    font-size: .7rem;
}
.priceSection i{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(148, 148, 13);
}
/* profileInformaions */
.profileInformaions{
    margin-top: 5rem;
    width: 100%;
    background-color: #f2f2f2;
    padding: 3rem 2rem ;
    border-radius: 5px;
}
.infoUsername span{
    color: #1976d2;
    margin: 0 .5rem 0 0;
}
.infoContact{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 0 0rem 0 5rem;
}
.infoContactItems{
    font-size: 1.3rem;
    border: 2px solid #f2f2f2;
    border-bottom: 2px solid #ccc;
    position: relative;
    padding: 1.2rem 1rem .8rem 1rem;
}
.infoContactItems label{
    position: absolute;
    top: 0;
    right: 0;
    transform:translateY(-50%);
    font-size: 1rem;
    background-color: #f2f2f2;
    padding: .5rem;
    margin-right: 10px;
}
.infoContactItems input{
    border: none;
    outline: none;
    background-color: transparent;
}
.infoContactItems:first-child{
    margin-left:auto;
    border: 2px solid #1976d2;
    border-radius: 10px;
}
/* .infoContactItems:hover{
    border: 2px solid #1976d2;
} */



/* responsive *********************** */
@media (max-width:950px) {
    .infoContactItems{
    font-size: 1.1rem;
    border: 2px solid #f2f2f2;
    border-bottom: 2px solid #ccc;
    position: relative;
    padding: .8rem;
}
.hero h3 {
    margin-left: 3rem;
    font-size: 1.5rem;
}
.hero h3 i {
    font-size: 1.8rem;
}
.hero .lessons {
    font-size: 1.2rem;
}
.searchField {
    width: 230px;
}
}
@media (max-width:830px) {
    .infoContactItems{
    font-size: 1rem;
    border: 2px solid #f2f2f2;
    border-bottom: 2px solid #ccc;
    position: relative;
    padding: .7rem;
}
.hero h3 {
    margin-left: 2.5rem;
    font-size: 1.3rem;
}
.hero h3 i {
    font-size: 1.3rem;
}
.hero .lessons {
    font-size: 1.1rem;
}
.searchField {
    width: 220px;
}
.infoContactItems label{
    font-size: .8rem;
    padding: .5rem;
    margin-right: 10px;
}
.infoContactItems input{
    font-size: 1rem;
}
}
@media (max-width:830px){
    .myProfile {
    margin: 2rem 3rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.hero{
    margin: 0 43px 0 32px;
}
.rightSection {
    width: 90%;
}
.leftSection {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.rightSection .questionBox {
    margin-top: 2rem;
    padding: 1.2rem 0.9rem;
    width: 80%;
}
.hero h3 {
    margin-left: 2.1rem;
    font-size: 1.1rem;
}
.hero h3 i {
    font-size: 1.1rem;
}
.hero .lessons {
    font-size: 1rem;
}
.searchField {
    width: 200px;
}
.infoContactItems label{
    font-size: .7rem;
    padding: .5rem;
    margin-right: 10px;
}
.infoContactItems input{
    font-size: .9rem;
}
}
@media (max-width:750px){
    .hero .lessons {
    font-size: 1.2rem;
}
.user > div > button span{
    display: none;
    font-size: .7rem;
}
.dNoneUser{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    display: block;
    background-color: #1976d2;
    cursor: default;
}
.dNoneUser a{
    color: #fff;
}
.user ul{
    padding-top: 0;
    border-radius: 10px;
}
.infoContact{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.infoContactItems{
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.3rem;
    width: 90%;
}
.infoContactItems label{
    position: absolute;
    top: 0;
    right: 0;
    transform:translateY(-50%);
    font-size: 1rem;
    background-color: #f2f2f2;
    padding: .5rem;
    margin-right: 10px;
}
.infoContactItems:first-child{
    margin-left:0;
   
}
.dNoneLessonsTitle{
    display: none;
    
}

.searchField{
    display: none;
}

.searchField.searchFieldRes{
    display: block;
}

.hero{
    margin: 0 1rem;
}
.hero h3{
    margin: 0;
    font-size: 1.7rem;
}
.hero h3 i{
    font-size: 1.8rem;
}
.hero .user{
    margin: 0;
}
.user > div > button i {
    margin: 0;
    font-size: 1.2rem;
}
.lessonsIconRes{
    display: block;
}
.lessons i {
    margin: 0;
}
.lessons{
    margin: 0;
    margin-left: 1rem;
    margin-right: auto;
    background-color: #17d292;
    padding: .2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.lessons ul {
    background-color: #17d292;
    padding: .5rem;
}
.lessons ul li {
    background-color: #fff;
    margin: 0.2rem 0rem;
}
.lessons ul li:first-child{
    border-radius: 10px;
}
.searchFieldRes{
    margin: 0;
    background-color: transparent;
    width: 100%;
}.searchFieldRes i {
    background-color: #3d3d3d;
    width: 20%;
}
.artDrop {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid gainsboro;
    border-radius: 3px;
    position:static;
    left:0;
    right: 0;
    top: 0;
    display: flex;
    width: 300px;
    height: 100%;
    border: none;
}

.artDrop li {
    margin: 0.5rem 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    padding-right: 10px;
}
.artDrop ul {
    border: none;
    transform: none;
}
.artDrop ul li {
    background-color: transparent;
}
.artDrop ul li:first-child{
    border-radius: 0;
}
.artDrop ul a {
    text-decoration: none;
    color: #2d2d2d;
}
.lessons > div > a:hover{
    color: black;
}

}
@media (max-width:550px) {
    .container{
        padding: 0;
        padding-top: 4rem;
    }
    .hero{
        padding: 1rem;
        margin: 1rem;
    }
    .myProfile{
        padding: 1rem;
        margin: 1rem;
    }
    .rightSection{
        width: 100%;
    }
    .rightSection .questionBox{
        width: 90%;
    }
}
@media (max-width:390px) {
    .hero h3{
        font-size: 1.2rem;
    }
    .hero h3 i{
        font-size: 1.3rem;
    }
    .lessons i {
        font-size: 1rem;
    }
    .user > div > button i{
        font-size: 1rem;
    }
}